* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  width:fit-content;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: black solid 5px;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.356);
  border-radius: 10px;
}
.display {
    border: solid black 5px;
    height: 100px;
    width: 350px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ccc;
    padding: 10px;
}
#buttons-box {
    border: solid black 5px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.488);
}
#number-btns {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 10px;
    background-color: rgb(43, 89, 89);
  }
  
  #number-btns button {
    font-size: 24px;
    padding: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 100px;
  }
.other-operators button {
  font-size: 24px;
  font-weight: 900;
  padding: 5px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: rgb(28, 73, 73);
}
.other-operators {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 10px;
}
.other-buttons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 10px;
  margin-bottom: 0;
}
#other-buttons {
  margin: 10px;
  padding-left: 5px;
}
#other-buttons button {
  cursor: pointer;
  padding: 5px;
  font-size: 24px;
  width: 100px;
  border-radius: 5px;
  background-color: blueviolet;
}
#answer-el {
  text-align: end;
}
#expression-el {
  height: 40px;
}
